body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header h1 {
  font-size: 3em;
  font-weight: 600;
  margin: 0;
}

header h1 a {
  font-size: inherit;
  text-decoration: none;
  font-weight: inherit;
}

h1 {
  margin-top: 0;
}

main {
  padding: 2em;
}

.post-controls {
  margin: 0 auto 2.4em auto;
  max-width: 800px;
}

nav a {
  transition: box-shadow 0.3s ease-in-out;
}

nav a.selected {
  box-shadow: 0 1px 0 0;
}

nav a:hover {
  box-shadow: 0 2px 0 0;
}

article {
  background-color: inherit;
  margin: 0 auto 2.4em auto;
  max-width: 800px;
  overflow: hidden;
}

article img {
  border-radius: 0.4em;
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

section {
  padding: 20px;
}

header {
  padding: 20px;
  text-align: center;
}

footer {
  padding: 20px;
  text-align: center;
}

form label {
  font-weight: bold;
}

form div {
  margin-bottom: 10px;
}

input {
  font-family: inherit;
}

.bttn-main-control {
  display: inline-block;
  font-size: 1.2em;
  padding: 5px;
  text-decoration: none;
}

article h1 a {
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 1.3;
  text-decoration: none;
  color: inherit;
}

.post-edit .post-header {
  padding-left: 3px;
}

.post-edit .post-title {
  margin-bottom: 20px;
}

.post-title input {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: 2.4rem;
  font-weight: bold;
  margin-top: 3px;
  line-height: 1.3;
  padding: 0;
  width: 100%;
}

.post-edit .post-timeline-links {
  margin-bottom: 14px;
}

.post-edit .date-picker-input {
  margin-bottom: 17px;
}

/* Screen reader label */
.post-edit .date-picker-input label {
  border: 0;
  color: inherit;
  clip-path: inset(50%);
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.post-edit .date-picker-input input {
  font-size: 1rem;
  height: auto;
  line-height: 1.4;
  letter-spacing: 0;
  margin-right: 3px;
  padding: 0;
}

/* hide lines on inputs */
.post-edit .MuiInput-underline:before,
.post-edit .MuiInput-underline:after {
  display: none;
}

/* Override input style */
.post-edit .MuiInput-root {
  color: inherit;
  margin-bottom: 0;
}

.post-edit .date-picker-input input,
.post-title input {
  box-shadow: 0 1px 0 0;
  transition: box-shadow 0.1s ease-in-out;
}

.post-title input:hover,
.post-edit .date-picker-input input:hover {
  box-shadow: 0 3px 0 0;
}

.post-title input:focus,
.post-edit .date-picker-input input:focus {
  outline: none;
  /* background: rgba(0, 0, 0, 0.05); */
  box-shadow: 0 3px 0 0;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.add-new-post {
  margin: 0 auto;
  max-width: 800px;
}

.add-new-post-form {
  padding: 2em 0.2em;
}
